<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Feed</title>
</head>
<body>
    <h1>Página de inicio</h1>
    <% if (login) { %>
        <div class="si">
            <h1>El usuario conectado es: <strong><%= name %></strong></h1>
            <a href="logout" class="a-logout">Log out</a>
        </div>
        <br>
        <br>
        <h2>Crea un post</h2>
        <div>
            <form action="/" method="post">
                <label for="">Titulo</label>
                <input type="text" name="title">
                <br>
                <label for="">Mensaje</label>
                <input type="text" name="message">
                <br>
                <label for="">Idioma</label>
                <input type="text" name="language">
                <br>
                <input type="submit" value="Crear">
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>Your feed</h2>
        <div class="posts">
        <% 
        // console.log(posts);
        // console.log(creators[0])
        let data2 = data[0]
        // console.log(data[1])
        //ni yo se que hice aqui, solo dios sabe
        const propiedades = Object.keys(data[0]);
        // console.log(data[1][propiedades[1]].name)
         for (let i = 0; i < data2.length; i++) { %>
            <div class="post">
                
                <div>
                    <p><b><%= data[0][i].title %></b></p>
                    <p>Mensaje: <%= data[0][i].message %></p>
                    <p>Language: <%= data[0][i].language %></p>
                    <p>Creador: <%= data[1][propiedades[i]].name %></p>
                </div>
                <div class="delete">
                    <form action="/<%= data[0][i].id_post %>" method="get">
                        <input type="submit" value="ELIMINAR" class="input-delete">  
                    </form>
                </div>
                <div>
                    <div class="wrapper">
                        <a href="#demo-modal<%= i %>">Editar</a>
                    </div>

                    <div id="demo-modal<%= i %>" class="modal">
                        <div class="modal__content">
                            <h2>Editar publicación</h2>
                            <br>
                            <form action="/edit/<%= data[0][i].id_post %>" method="post">
                                <label for="">Titulo</label>
                                <input type="text" name="title" value="<%= data[0][i].title %>">
                                <br>
                                <label for="">Mensaje</label>
                                <input type="text" name="message" value="<%= data[0][i].message %>">
                                <br>
                                <label for="">Idioma</label>
                                <input type="text" name="language" value="<%= data[0][i].language %>">
                                <br>
                                
                                <input type="submit" value="Editar">  
                            </form>

                            <a href="#" class="modal__close">&times;</a>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        <%  } %>
        </div>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="login" class="a-login">Ir al Login</a>
    <% } %>

</body>
</html>